body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 800px;
  padding: 80px 0;
  margin: auto;
  font-size: 14px;
  color: var(--color-text);
  text-align: center;
  word-break: break-all;
  background: lightblue;
}

main {
  text-align: left;

  li {
    margin: 8px 16px;
    list-style: disc;
  }
}

main {
  width: 800px;
}

pre {
  padding: 0px 24px;
  border-radius: 8px;
  overflow-x: auto;
  width: 800px;
  background: #07090f;
}

.visible {
  opacity: 1;
  transition: all 1s;
}

.hidden {
  opacity: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  color: aliceblue;
}

a {
  position: relative;
  left: -4px;
  color: #455777;
  text-decoration: none;
  padding: 4px;
  border: 2px solid transparent;
  border-radius: 4px;
}

a:hover {
  border: 2px solid #455777;
  transition: all 0.2s;
}
